<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:fragment="title">Layout page</title>
<link th:href="@{/css/application.css}" rel="stylesheet" />
</head>
<body>
	<div id="container">
		<div id="banner"></div>

		<div id="topbar"></div>
		<div id="header"></div>
		<div id="nav"></div>
		<div id="content">
			<div id="main">
				<!-- TODO: Change to camel case -->
				<div id="controller_nav"></div>
				<!-- TODO: Change to camel case -->
				<div id="action_content" layout:fragment="actionContent"></div>
			</div>
			<div id="sidebar" layout:fragment="sidebar"></div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>