<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/layout">
<head>
<link th:href="@{/css/deposits.css}" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="actionContent">
		<table class="tg">
			<tr>
				<th width="80">Commodity ID</th>
				<th width="120">Commodity Name</th>
				<th width="120">&nbsp;</th>
			</tr>
			<tr th:each="commodity : ${commoditiesPage.page}">
	
				<td th:text="${commodity.id}"></td>
				<td th:text="${commodity.name}"></td>
				<td><a th:href="@{'/commodities/'+${commodity.id}}">Show</a></td>
			</tr>
		</table>
		<div th:with="paginator=${commoditiesPage}"
			th:include="fragments/pagination :: pagination"></div>
	</div>
</body>
</html>