.deposits-header {
    
    text-align:center;
}


.deposit {
    background: #eeeeee;
    border: 1px solid #e5e5e5;
    height: 100px;
    width: 98%;
    margin-bottom: 15px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;

}

/*.deposit:hover{
    background: #ffffee;

}*/

.deposit.invisible {
    border: 1px solid #ffe5e5;
    background: #ffeeee;
}

.eno {
    color: #777777;
    padding:3px;
    font-size: 0.85em;}

.name {
    margin-bottom: 4px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 24pt;
}

.coordinates {
    display:block;
    float:right;
    /*set the div in the top right corner*/
    position:inherit;
    font-size: 0.85em;
    font-style: italic;
    padding:3px;
    color: #777777;
}

.commodities {
    position:inherit;
    font-size: 0.85em;
    padding:3px;
    color: #777777;
    margin-left: 65px;
    font-style: italic;
}


/*TODO Give better name */
.quality-container {

    height: 200px;
    width: 98%;
    margin-bottom: 15px;
}

.qual-icon {
    width:32px;
    display:inline-block;
}

.quality-block {

    /*width: 46%;*/
    padding:3px;
    height: 100%;
    margin-right:5px;
    display: inline-block;
}
.good-quality {

    background: #eeffee; 
    border:  2px solid #00aa00;
}


.bad-quality {
    background: #ffeeee;
    border:  2px solid #aa0000;
}

.qual-num {
    vertical-align:middle;
    width: 50%;
    margin: 0px auto;
    font-size: 2em;
}

.qual-deposits-link {
    bottom: 2px;
    font-size 0.8em;
    font-style: italic;
}
