<!doctype html>
<html lang="en" ng-app="ozminApp">
<head>
<meta charset="utf-8">
<!--  <base href="/ozmin/" />-->
<title>OZMIN</title>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="webjars/ui-grid/3.2.5/ui-grid.min.css">

<link rel="stylesheet" href="css/app.css">

<script type="text/javascript" src="webjars/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript"
	src="webjars/angularjs/1.5.8/angular-route.js"></script>
	<script type="text/javascript"
	src="webjars/angularjs/1.5.8/angular-resource.js"></script>
	<script type="text/javascript"
	src="webjars/ui-grid/3.2.5/ui-grid.js"></script>

<script type="text/javascript" src='js/core/core.module.js'></script>	
<script type="text/javascript" src='js/core/mineral-deposit/mineral-deposit.module.js'></script>
<script type="text/javascript" src='js/core/mineral-deposit/mineral-deposit.service.js'></script>
<script type="text/javascript" src='js/app.module.js'></script>
<script type="text/javascript" src='js/app.config.js'></script>

<script src="js/mineral-deposits/mineral-deposits.module.js"></script>
<script src="js/mineral-deposits/mineral-deposits.component.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OZMIN</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
	<div class="wrapper">

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li><a href="#!/mineralDeposits">Mineral Deposits</a></li>
				<li><a href="#!/mineralResources">Mineral Resources</a></li>
				<li><a href="#!/mineralProjects">Mineral Projects</a></li>
				<li><a href="#!/references">References</a></li>

			</ul>
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div ng-view></div>
			</div>
		</div>
	</div>
</body>
</html>
