<!doctype html>
<html lang="en" ng-app="ozminApp">
<head>
<meta charset="utf-8">
<!--  <base href="/ozmin/" />-->
<title>OZMIN</title>
<script type="text/javascript"
	src="webjars/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript" src='js/app.module.js'></script>
	
	<script src="js/mineral-deposits/mineral-deposits.module.js"></script>
	<script src="js/mineral-deposits/mineral-deposits.component.js"></script>
<!-- 	<script type="text/javascript"
	src="webjars/angularjs/1.5.8/angular-resource.js"></script>
	
	<script type="text/javascript"	
	src="webjars/angularjs/1.5.8/angular-route.js"></script>
	
	<script type="text/javascript" src="js/app.module.js"></script>
	<script type="text/javascript" src="js/app.config.js"></script>
	<script type="text/javascript" src="js/core/core.module.js"></script>
	
	
	<script type="text/javascript" src="js/core/mineralDeposit/mineralDeposit.module.js"></script>
	<script type="text/javascript" src="js/core/mineralDeposit/mineralDeposit.service.js"></script>
	
	
	<script type="text/javascript" src="js/mineral-deposits/mineral-deposits.module.js"></script>
	<script type="text/javascript" src="js/mineral-deposits/mineral-deposits.component.js"></script> -->


</head>
<body>

<mineral-deposits></mineral-deposits>

</body>
</html>
