<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/layout">
<head>
<title>Resources</title>
<link th:href="@{/css/deposits.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="actionContent">
		<table>
			<tr>
				<th>RESOURCENO</th>
				<th>Deposit</th>
				<th>Zone</th>
				<th>Record Date</th>
			</tr>
			<tr th:each="mineralResource : ${listMineralResources.page}">
				<td><a href="."
					th:href="@{'/resources/'+${mineralResource.id}}"
					th:text="${mineralResource.id}"></a></td>
				<td><a href="."
					th:href="@{'/mineralDeposits/'+${mineralResource.mineralisedZone.mineralDeposit.id}}"
					th:text="${mineralResource.mineralisedZone.mineralDeposit.name}"></a>
				</td>
				<td th:text="${mineralResource.mineralisedZone.name}">Resource
					ID</td>
				<td
					th:text="${#dates.format(mineralResource.recordDate,'dd MMMM yyyy')}">Resource
					ID</td>
				<td
					th:text="${#dates.format(mineralResource.entryDate,'dd MMMM yyyy')}">Resource
					ID</td>
			</tr>
		</table>
		<!-- Pagination Bar -->
		<div th:with="paginator=${listMineralResources}"
			th:include="fragments/pagination :: pagination"></div>
	</div>

</body>
</html>