<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/layout">
<head>
<!-- TODO: Replace CSS -->
<link th:href="@{/css/deposits.css}" rel="stylesheet" />
<title>Provinces</title>
</head>
<body>
	<div layout:fragment="actionContent">
		
<div class="province" th:each="province : ${provincesPage}">
		
		<div class="eno" th:text="${province.id}"></div>
		<div class="name" >
		<a href="." th:href="@{'/provinces/'+${province.id}}" th:text="${province.name}"></a>
		</div>
		<div class="commodities"></div>
	</div>
	</div>
</body>
</html>