<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templates/layout">
<head>

<title>Insert title here</title>
</head>
<body>
<div th:fragment="pagination">
			<div class='pagination pagination-centered'>
				<ul>
					<li th:class="${paginator.firstPage}? 'disabled' : ''"><span
						th:if='${paginator.firstPage}'>&larr; First</span> <a
						th:if='${not paginator.firstPage}'
						th:href='@{${paginator.url}(page=1,size=${paginator.size})}'>&larr;
							First</a></li>
					<li
						th:class="${paginator.hasPreviousPage}? '' : 'disabled'"><span
						th:if='${not paginator.hasPreviousPage}'>&laquo;</span> <a
						th:if='${paginator.hasPreviousPage}'
						th:href='@{${paginator.url}(page=${paginator.number-1},size=${paginator.size})}'
						title='Go to previous page'>&laquo;</a></li>
					<li th:each="item : ${paginator.items}"
						th:class="${item.current}? 'active' : ''"><span
						th:if='${item.current}' th:text='${item.number}'>1</span> <a
						th:if='${not item.current}'
						th:href='@{${paginator.url}(page=${item.number},size=${paginator.size})}'><span
							th:text='${item.number}'>1</span></a></li>
					<li th:class="${paginator.hasNextPage}? '' : 'disabled'"><span
						th:if='${not paginator.hasNextPage}'>&raquo;</span> <a
						th:if='${paginator.hasNextPage}'
						th:href='@{${paginator.url}(page=${paginator.number+1},size=${paginator.size})}'
						title='Go to next page'>&raquo;</a></li>
					<li th:class="${paginator.lastPage}? 'disabled' : ''"><span
						th:if='${paginator.lastPage}'>Last &rarr;</span> <a
						th:if='${not paginator.lastPage}'
						th:href='@{${paginator.url}(page=${paginator.totalPages},size=${paginator.size})}'>Last
							&rarr;</a></li>

				</ul>
			</div>

		</div>
</body>
</html>